<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internet Dreams</title>
</head>
<body>
<!-- Start: page-top-outer -->
<div id="page-top-outer">

    <!-- Start: page-top -->
    <div id="page-top">

        <!-- start logo -->
        <div id="logo">
            <a href=""><img src="app/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <!-- end logo -->

        <!--  end top-search -->
        <div class="clear"></div>

    </div>
    <!-- End: page-top -->

</div>
<!-- End: page-top-outer -->

<div class="clear">&nbsp;</div>

<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat">
    <!--  start nav-outer -->
    <div class="nav-outer">

        <!-- start nav-right -->
        <div id="nav-right">

            <div class="nav-divider">&nbsp;</div>
            <div class="showhide-account"><img src="app/images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>
            <div class="nav-divider">&nbsp;</div>
            <a [routerLink]="['/login']" id="logout"><img src="app/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
            <div class="clear">&nbsp;</div>

            <!--  start account-content -->
            <div class="account-content">
                <div class="account-drop-inner">
                    <a href="" id="acc-settings">Settings</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-details">Personal details </a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-project">Project details</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-inbox">Inbox</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-stats">Statistics</a>
                </div>
            </div>
            <!--  end account-content -->

        </div>
        <!-- end nav-right -->


        <!--  start nav -->
        <div class="nav">
            <div class="table">

                <ul class="select"><li><a href="#nogo"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <div class="select_sub">
                        <ul class="sub">
                            <li><a href="#nogo">Dashboard Details 1</a></li>
                            <li><a href="#nogo">Dashboard Details 2</a></li>
                            <li><a href="#nogo">Dashboard Details 3</a></li>
                        </ul>
                    </div>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select"><li><a [routerLink]="['/users']"><b>Users</b><!--[if IE 7]><!--></a><!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <div class="select_sub" *ngIf="showUsers">
                        <ul class="sub">
                            <li class="sub_show"><a [routerLink]="['/users']">View all users</a></li>
                            <li><a [routerLink]="['/user/create']">Add user</a></li>
                            <li><a (click)="deleteUsers()">Delete users</a></li>
                        </ul>
                    </div>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="current"><li><a [routerLink]="['/quiz']"><b>Quiz</b><!--[if IE 7]><!--></a><!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <div class="select_sub show" *ngIf="showQuiz">
                        <ul class="sub">
                            <li class="sub_show"><a [routerLink]="['/quiz']">Quiz1</a></li>
                            <li><a href="#nogo">Quiz 2</a></li>
                            <li><a href="#nogo">Quiz 3</a></li>
                        </ul>
                    </div>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select"><li><a href="#nogo"><b>Clients</b><!--[if IE 7]><!--></a><!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <div class="select_sub">
                        <ul class="sub">
                            <li><a href="#nogo">Clients Details 1</a></li>
                            <li><a href="#nogo">Clients Details 2</a></li>
                            <li><a href="#nogo">Clients Details 3</a></li>

                        </ul>
                    </div>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                </ul>

                <div class="nav-divider">&nbsp;</div>

                <ul class="select"><li><a href="#nogo"><b>News</b><!--[if IE 7]><!--></a><!--<![endif]-->
                    <!--[if lte IE 6]><table><tr><td><![endif]-->
                    <div class="select_sub">
                        <ul class="sub">
                            <li><a href="#nogo">News details 1</a></li>
                            <li><a href="#nogo">News details 2</a></li>
                            <li><a href="#nogo">News details 3</a></li>
                        </ul>
                    </div>
                    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                </li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!--  start nav -->

    </div>
    <div class="clear"></div>
    <!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
    <!-- start content -->
    <div id="content">

        <!--  start page-heading -->
        <div id="page-heading">
            <h1>Online Quiz 1</h1>
        </div>
        <!-- end page-heading -->

        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
            <tr>
                <th rowspan="3" class="sized"><img src="app/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized"><img src="app/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <!--  start content-table-inner ...................................................................... START -->
                    <div id="content-table-inner">

                        <!--  start table-content  -->
                        <div id="table-content">

                            <!--  start message-green -->
                            <div id="message-green" *ngIf="message_green">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="green-left"> Quiz has completed sucessfully. </td>
                                        <td class="green-right"><a class="close-green"><img src="app/images/table/icon_close_green.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>

                            <div id="message-blue" *ngIf="message_blue">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blue-left"> Your score: {{ marks }} && Attempt: {{ attempt }}</td>
                                        <td class="blue-right"><a class="close-green"><img src="app/images/table/icon_close_blue.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>

                            <form method="post" id="quiz">

                                <ol>
                                    <div *ngFor="let question of questions; let i = index" style="position:relative; margin-right:200px" id="quiz-left">

                                        <li>
                                            <h4>{{ question.name }}</h4>
                                            <div>
                                                <input type="radio" name="question{{i+1}}" id="question-1-answers-A" value="A" (click)="OnChange(question.name, question.answers[0])" />
                                                <label for="question-1-answers-A">A) {{ question.answers[0] }} </label>
                                            </div>

                                            <div>
                                                <input type="radio" name="question{{i+1}}" id="question-1-answers-B" value="B" (click)="OnChange(question.name, question.answers[1])" />
                                                <label for="question-1-answers-B">B) {{ question.answers[1] }}</label>
                                            </div>

                                            <div>
                                                <input type="radio" name="question{{i+1}}" id="question-1-answers-C" value="C" (click)="OnChange(question.name, question.answers[2])" />
                                                <label for="question-1-answers-C">C) {{ question.answers[2] }}</label>
                                            </div>

                                            <div>
                                                <input type="radio" name="question{{i+1}}" id="question-1-answers-D" value="D" (click)="OnChange(question.name, question.answers[3])" />
                                                <label for="question-1-answers-D">D) {{ question.answers[3] }}</label>
                                            </div>
                                        </li>
                                    </div>
                                </ol>

                                <input type="submit" value="Submit Quiz" class="form-submit" (click)="OnSubmit()" />

                            </form>

                            <!--  start product-table ..................................................................................... -->
                            <form id="mainform" action="">

                                <!--  end product-table................................... -->
                            </form>
                        </div>
                        <!--  end content-table  -->


                        <div class="clear"></div>

                    </div>
                    <!--  end content-table-inner ............................................END  -->
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>

        <div class="clear">&nbsp;</div>

    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
    <!--  start footer-left -->
    <div id="footer-left">

        Admin Skin &copy; Copyright Internet Dreams Ltd. <span id="spanYear"></span> <a href="">www.netdreams.co.uk</a>. All rights reserved.</div>
    <!--  end footer-left -->
    <div class="clear">&nbsp;</div>
</div>
<!-- end footer -->

</body>
</html>