<h1>Angular2 HTTP Demo App</h1>
<h2>Foods</h2>
<ul>
    <li *ngFor="let food of foods">
        <input type="text" name="food-name" [(ngModel)]="food.name">
        <button (click)="updateFood(food)">Save</button>
        <button (click)="deleteFood(food)">Delete</button>
    </li>
</ul>
<p>Create a new food: <input type="text" name="food_name" [(ngModel)]="food_name">
    <button (click)="createFood(food_name)">Save</button>
</p>
<h2>Books and Movies</h2>
<li *ngFor="let book of books">
  <input type="text" name="book-title" [(ngModel)]="book.title">
</li>
<li *ngFor="let movie of movies">
  <input type="text" name="movie-title" [(ngModel)]="movie.title">
</li>
<h3>Books</h3>
